/* google font  */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
/* css reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* utility class */
.hide {
  display: none;
}
.gray {
  color: #666666;
}
.btn {
  background: black;
  color: white;
  border: none;
  padding: 10px 50px;
  border-radius: 15px;
  font-size: 1.04rem;
  margin-top: 20px;
}
.center {
  text-align: center;
  padding-top: 40px;

  font-size: 2.3rem;
}
button {
  transition: transform 3s ease;
}
button:hover {
  cursor: pointer;
  transform: scale(1.2);
}
body {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: blockquote;
  font-style: normal;
  max-width: 1450px;
  margin: 0px auto;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo h2 {
  padding: 5px;
}
/* navbar section satrt  */
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navbar ul {
  display: flex;
}
ul li {
  list-style: none;
  margin: 10px;
}
.navbar li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}
.nav-btn {
  background: #fea301;
  color: white;
  border: none;
  padding: 10px 50px;
  border-radius: 15px;
  font-size: 1.04rem;
}

#navul li:nth-child(2) a {
  color: #fea301;
}
#navul li:nth-child(3) a {
  color: #01acfd;
}
#navulli:nth-child(4) a {
  color: #05d4df;
}
#navul li:nth-child(5) a {
  color: #5d58ef;
}

/* marquee text  */
.marquee-text {
  color: #05d4df;
  padding-top: 10px;
  font-size: 1.2rem;
}
/* hero section srart  */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.title-discription-section {
  width: 40%;
}
.title-discription-section h2 {
  font-size: 3.1rem;
}
.title-color {
  color: #fea301;
}
.title-color-2 {
  color: #01acfd;
}
.banar img {
  width: 100%;
}
.standard-curriculum-section {
  background: url("../assets/bg.png");
  background-repeat: no-repeat;
  object-fit: contain;
}
.container-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  margin: 70px 50px;
}
.card {
  border-radius: 10px;
  padding: 30px 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card a {
  text-decoration: none;
}

.card1 {
  background: linear-gradient(to bottom, #def5ff 40%, #ffffff);
}
.card2 {
  background: linear-gradient(to bottom, #fff4dc 40%, #ffffff);
}
.card3 {
  background: linear-gradient(to bottom, #eee1ff 40%, #ffffff);
}
.card1 a {
  color: #64c8ff;
}
.card2 a {
  color: #fea301;
}
.card3 a {
  color: #8700ff;
}

/* angle icon  */
.arrow-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow-icon i {
  background: #fea301;
  padding: 12px 15px;
  margin: 5px;
  border-radius: 50%;
  font-size: 1.4rem;
}

/* our story section start  */
.main-section {
  background: url("../assets/bg.png"), linear-gradient(to top, #ffefba, #ffffff);
  background-repeat: no-repeat;
  object-fit: contain;
  padding: 90px 50px;
}
.our-story-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */

  /* padding: 50px; */
  border-radius: 8px;
  gap: 1rem;
}

.story-card {
  background: white;
  border-radius: 15px;
}
.story-card h2 {
  text-align: center;
  padding: 10px;
}
.title-discription-story-card {
  padding: 30px 20px;
}
.story-card img {
  width: 100%;
  border-radius: 15px;
}
.story-card1 {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
}

.story-card1 p,
.story-card1 h2 {
  text-align: left;
  margin-top: 20px;
}
.story-btn {
  background: #95b226;
  color: white;
  border: none;
  padding: 10px 40px;
  border-radius: 15px;
  font-size: 1.04rem;
  margin-top: 20px;
  margin-left: 10px;
  position: relative;
  left: 20px;
  top: -45px;
}
#story-1-btn {
  background: #3cd8e8;
}
#story-3-btn {
  background: #5d58f0;
}
.view-all {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}
/* footer section  */
.fLogo {
  display: flex;
  align-items: center;
}
.foter-item {
  width: 33%;
  margin: 50px;
}
.footer-section {
  color: white;
  background: #01acfd;
  display: flex;
  /* align-items: center; */
  justify-content: space-evenly;
}
.footer li a {
  color: white;
  text-decoration: none;
}
